body{
  margin:0;
}

h1, h2{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}

.rect:hover {
  fill:rgb(40, 229, 59)
}

#tooltip {
  position: absolute;
  padding: 10px;
  font: 14px sans-serif;
  color: rgb(4, 5, 6);
  background: linear-gradient(0.125turn, #eed709, #d0372a);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 0 0 5px 5px rgb(248, 248, 245);
}


.cell:hover {
  fill:rgb(40, 229, 59)
}

.legend {
  position: absolute;
  border: 0px;
  height: 20px;
  width: 40px
}



