html{
  min-height: 100%
}

body {
  background-color: #edf0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: rgb(121, 17, 17);
}

h1{
  position: relative;
  padding: 0;
  text-align: center;
  font-family:sans-serif;
  color: brown;
  font-size: 1.5em;
}

h2{
  position: relative;
  margin: 0;
  font-size: 1em;
  color: brown;
  text-align: center;
  font-family:sans-serif;
}

#tooltip {
  visibility: hidden;
  position: absolute;
  padding: 10px;
  font: 14px sans-serif;
  background: linear-gradient(0.125turn, #eed709, #d0372a);
  border: 0px;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgb(248, 248, 245);
}

.cell:hover {
  fill:rgb(40, 229, 59)
}

.legend {
  position: absolute;
  border: 0px;
  height: 10px;
  width: 20px
}